<div class="container" ng-controller="GalleryCtrl">
	<div class="text-center">
		<h1>Photo Gallery</h2>
	</div>
	<div class="row" style="margin:20px 0px 40px 0px">
		<div class="col-md-6 col-md-offset-3">
			<input type="text" ng-model="search" class="form-control" placeholder="Search Photos">
		</div>
		<div class="col-md-3 text-right">
			<a href="#!/main" class="btn btn-success">Add More Photos</a>
		</div>
	</div>
	<div class="row image-grid">
		<div ng-repeat="image in urls | filter:search" style="width: 100%">
			<img ng-src="{{image.url}}" class="img-thumbnail img-responsive" id="{{image.$id}}" style="width: 100%">
		</div>
	</div>
</div>