<div class="container">
	<h2 class="text-center">Firebase Photo Uploader</h2>
	<div class="row uploadBox">
		<div class="col-md-8 col-md-offset-2">
			<div class="text-center">
				<p><h3>Upload Photo</h3></p>
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" id="uploadbar">{{percentage}}% Complete</div>
			</div>
			<div class="text-center">
				<button ngf-select="selectFile($files)" ngf-multiple="true" accept="image/jpeg" class="btn btn-success">Choose File</button>
				<a href="#!/gallery" class="btn btn-success">Go To Gallery</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h4>Files:</h4>
			<div class="text-center" ng-show="selectMsg">
				<p>{{msg}}</p>
			</div>
			<div class="row fileslist" ng-repeat="file in fileList">
				<div class="col-md-2">
					<img ngf-thumbnail="file || '/thumb.jpg'" style="width: 100%;">	
				</div>
				<div class="col-md-7">
					<p class="fileName">{{file.name}}</p>
				</div>
				<div class="col-md-3 text-center">
					<p>{{file.size/1000 | number:2}}KB</p>
				</div>
				<div class="col-md-12 fileslist">
					<div class="row">
						<div class="col-md-9">
							<input type="text" ng-model="topics.tag" placeholder="Add Tags Here" class="form-control">
						</div>
						<div class="col-md-3 text-center">
							<button class="btn btn-success btn-sm" ng-click="uploadFile(file)">Upload</button>
							<button class="btn btn-danger btn-sm" ng-click="removeFile(file)">Remove</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>